<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с запросами</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
</head>
<body>
<div class="main">
    <h2>Работа с запросами</h2>
    <hr />
    <form method="POST" action="">
        <label for="prod_category"> Категория продуктов: </label>
        <select name="prod_category">
            <option value="1">Мясо</option>
            <option value="2">Молочные продукты</option>
        </select>
        <br><br>

        <br><br>
        <input type="submit" value="Отправить"/>
    </form>
    <div class="minimenubox">
        <a href="{{url_for('main_menu')}}" class="other">Главное меню</a>
    </div>
</div>

</body>
</html>